* {
  margin:0;
  padding:0;
}
body{
  font-family: "Kumbh Sans", sans-serif;
}

button {
  all:unset;
  cursor:pointer;
}

:root {
  --primary:hsl(26, 100%, 55%);
  --primaryh:hsla(26, 100%, 55%, 70%);
  --text:rgb(100, 100, 100);
  --counter:rgb(230, 230, 230);
}

.flex {
  display:flex;
}

.flex-sa {
  justify-content:space-around;
}

.flex-jc {
  justify-content:center;
}

.flex-ic {
  align-items:center;
}

.flex-cl {
  flex-direction:column;
}

.nav-indiv {
  gap:70px;
  height:100%;
}

.nav-ul {
  gap:10px;
  height:100%;
}

.nav-ul>li {
  list-style:none;
  justify-content:flex-end;
  gap:25px;
}

.nav-ul>li:hover {
cursor:pointer;
}

.nav-ul>li:hover>p {
  background:var(--primary); 
}

.nav-ul>li>p {
  width:60px;
  height:5px;
  border-radius:10px;
  transition:.2s;
}

nav {
  height:80px;
  border-bottom:1px solid rgb(155, 155, 155, 0.5);
  color:var(--text);
}

.nav-btn {
  width:150px;
}

.cart-icon {
  width:25px; 
}

.nav-btn>button {
  border-radius:50%;
  background:transparent;
  border:none;
}

.profile-pic {
  width:40px;
  border-radius:50%;
  border:2px solid transparent;
  transition:.2s;
}

.profile-pic:hover {
  border:2px solid var(--primary);
cursor:pointer;
}

main {
  min-height:90vh;
  margin-bottom:100px;
  gap:100px;
  flex-wrap:wrap;
}

.detail {
  min-width:400px;
}

.detail,.view {
  width:30%;
}


.detail>h1 {
  margin:1rem 0;
}

.detail>h2 {
  color:var(--text);
  font-size:1rem;
}

.detail p {
  color:var(--text);
  margin:1.5rem 0;
}

.price {
  font-style:bold;
  font-size:2rem;
  margin-right:10px;
}

.discount {
  color:white;
  padding:.2rem .5rem;
  background:black;
  border-radius:5px;
}

.notprice {
  margin-top:10px;
  display:block;
  text-decoration:line-through;
}

.detail-btns {
  gap:10px;
  margin-top:2rem;
}

.counter, .detail-btns>button{
  border-radius:10px;
  padding:.5rem 0;
  height:50px;
  box-sizing:border-box;
  background:gray;
  gap:10px;
}

.counter {
  min-width:120px;
  background:var(--counter);
  padding-right: .5rem;
  padding-left: .5rem;
}

.counter>button {
  background:transparent;
  border:none;
  transition:.2s;
}

.detail-btns>button {
  background:var(--primary);
  padding-left:3rem;
  padding-right:3rem;
  border:none;
}

.detail-btns>button:hover {
  background:var(--primaryh);
}

.counter>button:hover .iconsvg {
  stroke:var(--primary);
}
.bigpic {
  cursor:pointer;
}

.bigpic, .thumbnaildiv {
  width:100%;
  border-radius:15px;
}

.thumbnaildiv {
  margin-top:20px;
  justify-content:space-between;
}

.thumbnaildiv>button {
  width:23%;
  border-radius:15px;
  border:2px solid transparent;
  transition:.2s;
}

.thumbnaildiv>button:hover {
  opacity:.8;
}

.thumbnaildiv img {
  width:100%;
  border-radius:15px;
}

#overlay {
  position:absolute;
  top:0;
  width:100vw;
  height:100vh;
}

#popup {
  position:relative;
  top:80px;
  left:70%;
  background:white;
  border-radius:8px;
  width:25%;  
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
}

#popup>h2 {
  border-bottom:.5px solid var(--text);
  padding:1rem;
}


.cartitem-itm-thumb {
  width:55px;
  border-radius:5px;
}

.cartitem-icon {
  width:40px;
  background:none;
  border:none;
}

.cartitem {
  flex-wrap:wrap;
  flex-grow:0;
  gap:10px;
  margin:15px;
  color:var(--text);
}

.cartitem b {
  margin-left: 8px;
}

.checkoutbtn {
  padding:.8rem;
  text-align:center;
  background:var(--primary);
  width:90%;
  box-sizing:border-box;
  border-radius:9px;
  border:none;
  margin:10px auto;
}

.viewerdiv {
  position:absolute;
  top:0px;
  width:100vw;
  height:100vh;
  background:rgba(0, 0, 0, 0.7);
}

.viewerdiv>div {
  width:35%;
}

.viewerdiv>div>div {
  width:100%;
}

.viewerdiv-btn {
  justify-content:flex-end;
}

.viewerdiv-btn>button {
  background:none;
  border:none;
  margin-right:43px;
}

.viewerdiv-btn>button path {
  transition:.2s;
}

.viewerdiv-btn>button:hover path {
  fill:red;
}

.viewerdiv-main-img {
  width:100%;
  border-radius:20px;
}

.viewerdiv-main>button{
  height:50px;
  width:50px;
  border-radius:100%;
  background:white;
  border:none;
}

.viewerdiv-main>button path{
  transition:.2s;
}

.viewerdiv-main>button:hover path{
  stroke:var(--primaryh);
}

.viewerdiv-selector{
  gap:10px;
  margin-top:20px;
}
.viewerdiv-selector>button{
  width:18%;
  border:4px solid transparent;
  border-radius:20px;
  padding:0;
  overflow:hidden;
}

.viewerdiv-selector>button:hover{
  opacity:.8;
}

.viewerdiv-selector img{
  width:100%;
}

#openBtn {
  position:relative;
}

#openBtn>span {
  background:var(--primary);
  position:absolute;
  left:12px;
  top:-8px;
  border-radius:20px;
  width:20px;
  color:white
}

.navmobilemenu {
  display:none;
}

.mobilenav {
  display:none;
}

  .mobileaddtcart {
font-weight:bold;
  }

  #overlay {
  display:none;
}

                .mobildeviewbtn {
  display:none;
}

.attribution {
background:var(--primaryh);
}
.attribution>h4, .attribution>h1{
  text-align:center;
  padding:1rem;
}

@media screen and (max-width: 599px) {
  .bigpic {
    width:100%;
    height:400px;
    object-fit:cover;
    border-radius:0;
    margin:0;
  }

  .mobildeviewbtn {
    display:flex;
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    background:white;
    flex-grow:0;
  }
.mobileviewdiv {
    display:flex;
    justify-content:space-around;
    width:100%;
    align-items:center;
    position:relative;
  }
  main {
  gap:30px;
  }
  .mobileaddtcart {
    justify-content:center;
  }

.nav-ul {
    display:none;
  }
.nav-indiv {
    gap:20px;
  }
  .navmobilemenu {
    display:block;
    transform:translateY(2px);
  }
.nav-btn {
    width:100px;
  }
.mobilenav {
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    background:rgba(0, 0, 0, 0.7);
    z-index:2;
}
  .mobilenav>div {
    background:white;
    width:60%;
    height:100%;
  }
  .mobilenavclose {
    width:1.1rem;
    margin:2rem;
  }

  .mobilenav ul {
    color:black;
    font-weight:bold;
  }
  
  .mobilenav li {
    width:100%;
    margin:1rem 1.2rem;
    list-style:none;
  }

  .mobileprice {
    display:flex;
    justify-content:space-between;
  }

  .detail-btns {
    flex-direction:column;
  }

  #popup {
    position:relative;
    width:90%;
    margin:auto;
    padding:1rem;
    left:0;
    top:85px;
  }


  .checkoutbtn {
    margin-bottom:30px;
  }

  .thumbnaildiv {
    display:none;
  }

  .view {
    width:100%;
  }

}
